<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515530161188-6em8bou6f47mqqlukre85q7vmet5lkbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515530161188-6em8bou6f47mqqlukre85q7vmet5lkbr</string>
	<key>API_KEY</key>
	<string>AIzaSyA6i2BCZjYxKNYaB7lM-6G4bgjn2IAElGA</string>
	<key>GCM_SENDER_ID</key>
	<string>515530161188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduapge2</string>
	<key>PROJECT_ID</key>
	<string>cool-beanbag-355116</string>
	<key>STORAGE_BUCKET</key>
	<string>cool-beanbag-355116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515530161188:ios:77048f79240d7c52586cb1</string>
</dict>
</plist>